.app {
  background-color: #fff; /* Default light theme background color */
  color: #000000; /* Default light theme text color */
}

.app.dark {
  background-color: #000000; /* Dark theme background color */
  color: #fff; /* Dark theme text color */
}

nav {
  background-color: #63707e; /* Navbar background color */
  color: #fff; /* Navbar text color */
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
  cursor: pointer;
}

footer {
  background-color: #63707e; /* Footer background color */
  color: #fff; /* Footer text color */
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.content {
  padding: 20px;
}

button {
  padding: 10px 20px;
  background-color: #63707e; /* Default button color */
  color: #fff; /* Default button text color */
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #63707e; /* Button color on hover */
}
